.games-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-selector {
    display: flex;
    justify-content: center;
    width: 30%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.table-selector button {
    background: none;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    outline: none;
}

.table-selector button:hover {
    color: #0056b3;
}

.table-selector button:focus {
    outline: none;
}

.initial {
    position: absolute;
    bottom: -2px;
    height: 2px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: green;
}

.underline {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: green;
    transition: width 1s ease, left 1s ease;
}
